*{
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}

.wrapper {
    background-color: antiquewhite;
    margin: 0;
}

header{
    background-color: lightblue;
}

h1 {
    text-align: center;
    margin: 0 auto;
}

.info{
    border: dashed black 5px;
    padding: 0 5% 5% 5%;
    margin: 5%;
}

h2, input {
    display: inline;
}

#schedule-info {
    background-color: black;
    color: white;
}

#schedule-info > table{
    border-collapse: collapse;
    width: 100%;
}

#schedule-info td{
    border: solid wheat 1px;
    width: 4em;
    height: 2em;
    padding: 2%
}

input[type="number"] {
    width: 10%;
}

#schedule-info table .two-hour{
    
}

