* {
    box-sizing: border-box;
}

div {
    /* border: 1px solid white; */
}

::-webkit-scrollbar{
    display: none;
}

body {
    background-color: black;
    font-family: 'Courier Prime', monospace;
}

.wrapper {
    background-color: black;
    color: rgb(255,253,208);
    margin: 0 5%;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 2% 5% 0 5%;
    border-bottom: rgb(255,253,208) solid 1px;
    margin: 0 2%;
}

nav > section {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    width: 40%;
}

#education {
    font-size: 15em;
}


.giant {
    width: 100%;
    text-align: center;
    margin: 0;
}

#projects {
    font-size: 17em;
}

.project {
    grid-row: 1 / span 1;

    /* padding-top: 25%; */   
}

.project-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
}

#main-content {
    display: flex;
}

.education-content {
    width: 100%;
    padding-top: 100%;
    margin: 0 auto;
}

#about {
    font-size: 15em;
}


#info {
    /* padding: 10%; */
}

.methods{
    background-color: blue;
}

.fundamentals{
    background-color: grey;
}

.web-dev {
    background-color: orange;
}

.comms {
    background-color: salmon;
}

.project-1800{
    background-color: red;
}

.biz {
    background-color: rgb(177, 177, 31);
}

.math{
    background-color: green;
}

canvas {
    width: 100%;
    height: 100%;
}

#fractal-header {
    text-align: center;
    font-size: 4em;
    padding: 5%;
}

#fractals {
    margin-top: -2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5%;
}
#fractals img {
    width: 80%;
    border: white solid .5em;
    border-radius: 1em;
    height: 400px;
}

#fractal-des {
    padding-top: 5%;
}

.card-holder {
    perspective: 600px;
}

.card {
    background-color: transparent;
    transform: rotateY(50deg);
    transition: all 1s ease;
}


.card:hover {
    transform: rotateY(0deg);
}