div {
    /* border: 1px solid white; */
}

::-webkit-scrollbar{
    display: none;
}

body {
    background-color: black;
}

.wrapper {
    background-color: black;
    color: antiquewhite;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 2% 5% 0 5%;
}

nav > section {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    width: 40%;
}

#education {
    font-size: 24em;
}


.giant {
    width: 100%;
    text-align: center;
    margin: 0;
}

#projects {
    font-size: 30em;
}

.project {
    width:25%;
    /* padding-top: 25%; */
    
}

.project-wrapper {
    display: flex;
}

#main-content {
    display: flex;
}

.main-content {
    width: 100%;
}

.education {
    width: 50%;
    padding-top: 20%;
    
    /* position: absolute; */
    /* top: 10px; */

}

#about {
    font-size: 24em;
}